* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-orange: #F0A83E;
    --color-orange-opacity: #fac16c;
    --color-brown: #3C2313;
}

html {
    font-size: 62.5%;
}