.section__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
}

.section__products--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFAF6;
}

.section__products--item span {
    color: var(--color-orange);
    font-weight: 900;
    padding-bottom: 1rem;
}